<div>
  <small class="text-muted">Adjust the weight of your vote.</small>
  <ul class="pagination justify-content-center mt-2">
    <li class="page-item"><a class="page-link vote-controls" href="#"><i class="far fa-flag text-danger"></i></a></li>
    <li class="page-item"><a class="page-link vote-controls" href="#">-10</a></li>
    <li class="page-item"><a class="page-link vote-controls" href="#">-1</a></li>
    <li class="page-item vote-weight">
      <input type="number" value="100" class="form-control" />
    </li>
    <li class="page-item disabled"><a class="page-link vote-controls" href="#">+1</a></li>
    <li class="page-item disabled"><a class="page-link vote-controls" href="#">+10</a></li>
    <li class="page-item"><a class="page-link vote-controls" href="#"><i class="far fa-thumbs-up text-success"></i></a></li>
  </ul>

  <button type="submit" class="btn btn-info">
    <i class="fas fa-thumbs-up"></i> Upvote
  </button>
  <p class="text-muted m-0"><small>Your upvote will be wort <b>$2.86</b>.</small></p>
</div>